@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9843 0.0017 247.8393);
  --foreground: oklch(0.2306 0.0127 264.2863);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2306 0.0127 264.2863);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2306 0.0127 264.2863);
  --primary: oklch(0.2639 0.0102 264.3844);
  --primary-foreground: oklch(0.9843 0.0017 247.8393);
  --secondary: oklch(0.9525 0.0029 264.5416);
  --secondary-foreground: oklch(0.3103 0.0197 264.2318);
  --muted: oklch(0.9684 0.002 264.5448);
  --muted-foreground: oklch(0.5404 0.0257 264.3337);
  --accent: oklch(0.9365 0.0039 264.5381);
  --accent-foreground: oklch(0.2306 0.0127 264.2863);
  --destructive: oklch(0.6356 0.2082 25.3782);
  --destructive-foreground: oklch(0.9843 0.0017 247.8393);
  --border: oklch(0.9205 0.0049 264.5343);
  --input: oklch(0.9205 0.0049 264.5343);
  --ring: oklch(0.2639 0.0102 264.3844);
  --chart-1: oklch(0.2639 0.0102 264.3844);
  --chart-2: oklch(0.4081 0.0184 264.3488);
  --chart-3: oklch(0.5404 0.0257 264.3337);
  --chart-4: oklch(0.6707 0.0216 264.4197);
  --chart-5: oklch(0.798 0.0129 264.4943);
  --sidebar: oklch(0.9765 0.0026 247.8491);
  --sidebar-foreground: oklch(0.2612 0.0154 264.2613);
  --sidebar-primary: oklch(0.2639 0.0102 264.3844);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9365 0.0039 264.5381);
  --sidebar-accent-foreground: oklch(0.2612 0.0154 264.2613);
  --sidebar-border: oklch(0.9044 0.006 264.5302);
  --sidebar-ring: oklch(0.2639 0.0102 264.3844);
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: Poppins, sans-serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.75rem;
  --shadow-x: 0rem;
  --shadow-y: 0.5rem;
  --shadow-blur: 1.25rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.08;
  --shadow-color: hsl(220, 15%, 12%);
  --shadow-2xs: 0rem 0.5rem 1.25rem 0rem hsl(220 15% 12% / 0.04);
  --shadow-xs: 0rem 0.5rem 1.25rem 0rem hsl(220 15% 12% / 0.04);
  --shadow-sm:
    0rem 0.5rem 1.25rem 0rem hsl(220 15% 12% / 0.08), 0rem 1px 2px -1px hsl(220 15% 12% / 0.08);
  --shadow:
    0rem 0.5rem 1.25rem 0rem hsl(220 15% 12% / 0.08), 0rem 1px 2px -1px hsl(220 15% 12% / 0.08);
  --shadow-md:
    0rem 0.5rem 1.25rem 0rem hsl(220 15% 12% / 0.08), 0rem 2px 4px -1px hsl(220 15% 12% / 0.08);
  --shadow-lg:
    0rem 0.5rem 1.25rem 0rem hsl(220 15% 12% / 0.08), 0rem 4px 6px -1px hsl(220 15% 12% / 0.08);
  --shadow-xl:
    0rem 0.5rem 1.25rem 0rem hsl(220 15% 12% / 0.08), 0rem 8px 10px -1px hsl(220 15% 12% / 0.08);
  --shadow-2xl: 0rem 0.5rem 1.25rem 0rem hsl(220 15% 12% / 0.2);
  --tracking-normal: -0.01em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1881 0.0089 264.3344);
  --foreground: oklch(0.9686 0.0035 247.859);
  --card: oklch(0.2096 0.0109 264.3076);
  --card-foreground: oklch(0.9686 0.0035 247.859);
  --popover: oklch(0.2096 0.0109 264.3076);
  --popover-foreground: oklch(0.9686 0.0035 247.859);
  --primary: oklch(0.9843 0.0017 247.8393);
  --primary-foreground: oklch(0.1881 0.0089 264.3344);
  --secondary: oklch(0.2612 0.0154 264.2613);
  --secondary-foreground: oklch(0.921 0.0088 247.9219);
  --muted: oklch(0.2306 0.0127 264.2863);
  --muted-foreground: oklch(0.6707 0.0216 264.4197);
  --accent: oklch(0.2909 0.018 264.2422);
  --accent-foreground: oklch(0.9843 0.0017 247.8393);
  --destructive: oklch(0.3901 0.1297 25.5736);
  --destructive-foreground: oklch(0.9686 0.0035 247.859);
  --border: oklch(0.2909 0.018 264.2422);
  --input: oklch(0.2909 0.018 264.2422);
  --ring: oklch(0.921 0.0088 247.9219);
  --chart-1: oklch(0.9843 0.0017 247.8393);
  --chart-2: oklch(0.8404 0.0181 248.0435);
  --chart-3: oklch(0.7163 0.0329 248.2862);
  --chart-4: oklch(0.5877 0.0492 248.6738);
  --chart-5: oklch(0.457 0.0367 248.637);
  --sidebar: oklch(0.1659 0.0069 264.3687);
  --sidebar-foreground: oklch(0.9686 0.0035 247.859);
  --sidebar-primary: oklch(0.9843 0.0017 247.8393);
  --sidebar-primary-foreground: oklch(0.1881 0.0089 264.3344);
  --sidebar-accent: oklch(0.2612 0.0154 264.2613);
  --sidebar-accent-foreground: oklch(0.9843 0.0017 247.8393);
  --sidebar-border: oklch(0.2612 0.0154 264.2613);
  --sidebar-ring: oklch(0.921 0.0088 247.9219);
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: Poppins, sans-serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.75rem;
  --shadow-x: 0rem;
  --shadow-y: 0.75rem;
  --shadow-blur: 1.5rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.3;
  --shadow-color: hsl(0, 0%, 0%);
  --shadow-2xs: 0rem 0.75rem 1.5rem 0rem hsl(0 0% 0% / 0.15);
  --shadow-xs: 0rem 0.75rem 1.5rem 0rem hsl(0 0% 0% / 0.15);
  --shadow-sm: 0rem 0.75rem 1.5rem 0rem hsl(0 0% 0% / 0.3), 0rem 1px 2px -1px hsl(0 0% 0% / 0.3);
  --shadow: 0rem 0.75rem 1.5rem 0rem hsl(0 0% 0% / 0.3), 0rem 1px 2px -1px hsl(0 0% 0% / 0.3);
  --shadow-md: 0rem 0.75rem 1.5rem 0rem hsl(0 0% 0% / 0.3), 0rem 2px 4px -1px hsl(0 0% 0% / 0.3);
  --shadow-lg: 0rem 0.75rem 1.5rem 0rem hsl(0 0% 0% / 0.3), 0rem 4px 6px -1px hsl(0 0% 0% / 0.3);
  --shadow-xl: 0rem 0.75rem 1.5rem 0rem hsl(0 0% 0% / 0.3), 0rem 8px 10px -1px hsl(0 0% 0% / 0.3);
  --shadow-2xl: 0rem 0.75rem 1.5rem 0rem hsl(0 0% 0% / 0.75);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

@theme {
  --radius-5xl: 2.5rem;
  --radius-6xl: 3rem;
}
